@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&family=Wix+Madefor+Display:wght@400;700&display=swap');

.ql-font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.ql-font-ubuntu-mono {
    font-family: 'Ubuntu Mono', monospace;
}

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}

.ql-font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.ql-font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.ql-font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.ql-font-wix-madefor-display {
    font-family: 'Wix Madefor Display', sans-serif;
}

.ql-font-poppins {
    font-family: 'Poppins', sans-serif;
}
